body         { background-color:#FFFFFF; color:#000000; font-family: Verdana, Arial, Geneva, Helvetica; font-size: 13px}
table        { font-family: Verdana, Arial, Geneva, Helvetica; font-size: 13px}
a            { text-decoration: none; color: #000080}
a:hover      { text-decoration: underline }
a:active     { color: #8800CC; }
.footer {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9.5px; font-style: italic; font-weight: normal; color: #808080}
.blog_date	{font-family: Verdana, Arial, sans-serif;color: black;font-weight:bold;margin:10px auto auto;}
.blog_posts	{font-family: Verdana, Arial, sans-serif;margin:0px auto 12px;}
.blog_datetime	{font-family: Verdana, Arial, sans-serif;color: #808080;font-size:11px;}
.blog_description {  color: #808080}
.blog_title {  margin-bottom: 0px}
